body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 450px;
}

.Button {
  border: 2px solid #000;
  font: inherit;
  padding: 12px 20px;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
}

.Button:hover,
.Button:active {
  background-color: #fff;
  color: #000;
}
