.List {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 400px;
}

.ListItem {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.ListItem:hover,
.ListItem:active {
  background-color: #000;
  color: #fff;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
